/*
    Stylesheet für Haupt-Layout, Reset und Klassen Templates
*/
@import 'variables/main';
@import 'variables/dashboard';

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-family;
    font-size: $font-size;
    letter-spacing: $letter-spacing;
    line-height: $line-height;
    color: $color-dark;
    background: $color-light;
    a {
        text-decoration: none;
    }
}

div.wrapper {
    width: 80%;
    max-width: 1500px;
}

header {
    top: 0;
    position: fixed;
    height: 150px;
    width: 100%;
    z-index: 2000;
    div.wrapper {
        position: relative;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        svg {
            height: 40%;
            cursor: pointer;
            path {
                fill: $color-main;
            }
        }
        div {
            a {
                text-align: center;
                font-size: .65em;
                opacity: 0;
            }
        }
    }
}



a.main-button {
    transition: all 120ms ease-out;
    box-sizing: content-box;
    width: 60px;
    font-weight: 700;
    margin-left: 20px;
    border-radius: 100px;
    border: 2px solid $color-light;
    padding: 8px 30px;
    display: inline-block;
    text-align: center;
    color: $color-light;
    text-decoration: none;
    &.filled {
        background: $color-main;
        border-color: $color-main;
        color: #080816;
    }
    &:hover {
        outline: none;
        transform: scale(1.1);
    }
    &:focus {
        outline-color: $color-main;
        transform: scale(1);
    }
}

.alert {
    position: fixed;
    bottom: 20px;
    right: 100px;
    padding: 10px 30px;
    border-radius: 3px;
    max-width: 300px;
    box-shadow: 0 0 30px rgba(0,0,0,0.05);
    transition: $ui-transition;
    cursor: pointer;
    border-left: 4px solid;
    &.alert-success {
        background:$color-dark;
        border-color: $color-main;
        color: $color-light;
    }
    .alert-error {
        border-color: tomato;
    }
    div strong {
        font-size: 1em;
        color: $color-main;
        line-height: .1em !important;
    }
    p {
        line-height: 1.2em !important;
        font-size: .8em;
        font-weight: 400;
        margin-bottom: 3px;
    }
    &.remove {
        transform: translateY(200px);
    }
}