@import 'variables/main';
@import 'variables/dashboard';

header {
    background: $color-dark;
    height: 65px;
    svg {
        height: 58% !important;
    }
    #logoutBtn {
        transform: scale(.75);
        &:hover {
            transform: scale(.8);
            border-color: $color-main;
            color: $color-main;
        }
    }
}

.nav {
    position: fixed;
    top: 65px;
    bottom: 0;
    z-index: 10;
    background: $color-light;
    width: 75px;
    overflow: hidden;
    box-shadow: 0 0 50px rgba(0,0,0,0.1);
    transition: all 120ms ease-out;
    &:hover, &:focus-within {
        width: 240px;
        outline: none;
        .item {
            outline: none;
        }
    }
    .current-vehicle {
        position: absolute;
        bottom: 0;
        svg {
            opacity: 1 !important;
        }
    }
    .item {
        margin: 20px 20px;
        width: 300px;
        display: flex;
        cursor: pointer;
        text-decoration: none;
        
        svg {
            width: 35px;
            opacity: .1;
            transition: all 120ms ease-out;
            &.menu-icon {
                opacity: 0;
            }
        }
        #key {
            transform: translateX(-5px);
        }
        span {
            line-height: 51px;
            font-size: 1em;
            font-weight: 700;
            margin: 0 20px;
            color: $color-dark;
            text-decoration: none;
            opacity: 0.2;
            transition: all 120ms ease-out;
            &.menu-txt {
                opacity: 0;
            }
        }
        &.current {
            svg {
                opacity: 1 !important;
            }
            span {
                opacity: 1 !important;
            }
        }
        &:hover, &:focus {
            svg {
                opacity: 1 !important;
            }
            span {
                opacity: 1 !important;
            }
        }
    }
}

.wrapper {
    margin: 170px auto;
}