@import 'variables/main';
@import 'variables/dashboard';

header {
    background: $color-dark;
    height: 65px;
    svg {
        height: 58% !important;
    }
    #settingsBtn {
        transition: $ui-transition;
        &:hover {
            svg {
                path {
                    opacity: 1;
                    fill: $color-main;
                }
            }
        }
        svg {
            width: 20px !important;
            transform: translateY(5px);
            path {
                fill: $color-light;
                opacity: .3;
            }
        }
    }
    #logoutBtn {
        transform: scale(.75);
        &:hover {
            transform: scale(.8);
            border-color: $color-main;
            color: $color-main;
        }
    }
}

.nav {
    position: fixed;
    top: 65px;
    bottom: 0;
    z-index: 10;
    background: $color-light;
    width: 75px;
    overflow: hidden;
    box-shadow: 0 0 50px rgba(0,0,0,0.1);
    transition: all 120ms ease-out;
    &:hover, &:focus-within {
        width: 240px;
        outline: none;
        .item {
            outline: none;
        }
    }
    .current-vehicle {
        position: absolute;
        bottom: 0;
        svg {
            opacity: 1 !important;
        }
    }
    .item {
        margin: 20px 20px;
        width: 300px;
        display: flex;
        cursor: pointer;
        text-decoration: none;
        
        svg {
            width: 35px;
            opacity: .1;
            transition: all 120ms ease-out;
            &.menu-icon {
                opacity: 0;
            }
        }
        #key {
            transform: translateX(-5px);
        }
        span {
            line-height: 51px;
            font-size: 1em;
            font-weight: 700;
            margin: 0 20px;
            color: $color-dark;
            text-decoration: none;
            opacity: 0.2;
            transition: all 120ms ease-out;
            &.menu-txt {
                opacity: 0;
            }
        }
        &.current {
            svg {
                opacity: 1 !important;
            }
            span {
                opacity: 1 !important;
            }
        }
        &:hover, &:focus {
            svg {
                opacity: 1 !important;
            }
            span {
                opacity: 1 !important;
            }
        }
    }
}

.wrapper {
    margin: 170px auto;
}

.container {
    position: relative;
    width: 65%;
    max-width: 900px;
    p.short-txt {
        max-width: 600px;
        font-size: .9em;
        line-height: 1.5em;
        margin-bottom: 65px;
    }
}

a.return-button {
    display: block;
    z-index: 10000;
    height: 30px;
    position: absolute;
    top: 0;
    left: -50px;
    color: $color-dark;
    svg {
        dipslay: block;
        height: 100%;
    }
}

.side-box {
    position: fixed;
    top: 65px;
    width: 400px;
    min-width: 300px;
    max-width: 450px;
    right: 0;

    height: 0;
    overflow: hidden;
    z-index: 10;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    transition: all 200ms ease-out;
    box-shadow: 0 0 25px rgba(0,0,0,0.17);
    #sideCloser {
        position: absolute;
        width: 15px;
        height: 15px;
        display: block;
        right: 0;
        top: 0;
        padding: 30px;
        opacity: .1;
        cursor: pointer;
        transition: $ui-transition;
        &:hover {
            opacity: 1;
        }
    }
    .plate {
        margin-top: 10px;
        display: block;
        border-radius: 2px;
        font-size: .8em;
        font-weight: 900;
        padding: 3px 17px;
        background: $color-dark;
        color: $color-light;
    }
    svg.menu-icon {
        opacity: 1 !important;
        width: 75px;
        margin-top: 28px;
    }
    .actions {
        position: absolute;
        bottom: 20px;
        margin-left: -10px;
        a {
            padding: 5px;
            color: $color-dark;
            opacity: .4;
            font-weight: 700;
            font-size: .8em;
            transition: $ui-transition;
            margin: 0 15px;
            &:hover {
                opacity: 1;
            }
        }
    }
    background: $color-light;
}