form {
    position: relative;
    width: 70%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 20px;
    background: #eee;
    input, label, select, span {
        display: block;
    }
    fieldset {
        padding: 0;
        border: solid;
        margin: 30px 0;
    }
    input {
        height: 35px;
        width: 99%;
    }
    label {
        margin-top: 10px;
    }
    p {
        margin: 0;

    }
    .form-error {

    }
}