


form {
    position: relative;
    width: 100%;
    .form-error {
        color: tomato;
        opacity: 1;
    }
    input.error {
        border-bottom-color: tomato !important;
        color: tomato !important;
    }
    select, input[type="submit"] {
        display: block !important;
        font-weight: 700;
        background: none;
        border: none;
        border-bottom: 2px solid #222;
    }
    select {
        -webkit-appearance:none;
-moz-appearance:none;
appearance:none;
        font-size: .8em;
        width: 130px;
        border-radius: none !important;
        margin-top: 10px;
    }
    select:focus {
        outline: none;
    }
    input[type="submit"]{
        padding: 5px 50px;
        width: auto;
        border-radius: 3px !important;
        background: #222;
        color: #eee;
        font-size: 20px;
        margin-top: 50px;
    }
    div.inline {
        display: inline !important;
        float: right;
        margin-left: 20px;
        clear: none !important;
    }
    div {
        display: block;
        clear: both;
        margin-top: 10px;
    }
    label, input {
        display: block;
    }
    label {
        font-weight: 700;
        margin-top: 50px;
    }
    p {
        font-size: .8em;
        opacity: .2;
        line-height: 25px;
        font-weight: 700;
    }
    input {
        height: 50px;
        margin-top: 2px;
        font-size: 1.8em;
        width: 100%;
        border: none;
        font-weight: bolder;
        border-bottom: 2px solid #222;
        transition: all 220ms ease-out;
    }
    input:focus {
        outline: none;
        box-shadow: none;
        transition: all 150ms ease-out;
        border-bottom: 4px solid #222;
    }
}