@import '../variables/dashboard';
@import '../variables/main';

form.basic-form {
    color: $color-dark;
    font-size: 1.2em !important;
    margin: 0;
    div {
        margin-top: 0;
        &.spacer {
          margin: 10px 0;
        }
        &.option {
          margin-top: 0 !important;
        }
        &.selected {
          margin-top: 5px;
        }
        &:first-of-type {
            margin-top: 0;
        }
        &.splitted {
          display: block;
            div {
                float: left;
                margin-top: 0;
            }
            div:nth-last-of-type(1) {
                float: right;
            }
            input {
                width: 200px;
            }
            .clearfix {
                overflow: auto;
                &::after {
                    content: "";
                    clear: both;
                    display: table;
                }
            }
        }
    }
    input, textarea {
      background-color: #fff;
      border-color: #ddd;
      border-radius: 5px;
      color: $color-dark;
      box-shadow: none;
      width: 450px;
      padding: 6px 8px;
      height: 40px;
      font-size: 1.1em;
      font-weight: 600;
      &:focus {
        outline: none;
        border-color: $color-main;
        box-shadow: 0 0 20px rgba(0,0,0,0.07);
      }
    }
    input[type="checkbox"] {
      width: auto !important;
      height: auto !important;
    }
    p {
      font-size: .8em;
    }
    textarea {
      margin-top: 3px;
      max-width: 450px;
      min-width: 450px;
      min-height: 100px;
    }
    fieldset {
        border: none;
        margin-bottom: 30px;
        padding: 10px 40px;
        legend {
            display: none;
        }
    }
    button {
        font-size: .8em;
        padding: 10px 24px;
        border-radius: 5px;
        border: none;
        margin-top: 5px;
        background: $color-dark;
        color: $color-light;
        letter-spacing: 1px;
        font-weight: 600;
        cursor: pointer;
        transition: all 120ms ease-out;
        &:hover {
            box-shadow: 0 0 30px rgba(0,0,0,0.1);
        }
        &:focus {
            outline: none;
            transform: scale(0.98);
        }
    }
    label {
        font-weight: 900;
        font-size: 1em;
        display: block;
        color: $color-dark;
        small {
            font-weight: 400;
            font-size: .8em;
        }
    }
    select {
        display: block;
        margin-top: 6px;
        font-size: .8em;
        &:focus {
          outline: none;
          border-color: $color-main;
        }
    }
}

  