@import '../variables/dashboard';
@import '../variables/main';

form.basic-form {
    color: $color-dark;
    font-size: 18pt;
    letter-spacing: 1px;
    margin: 0;
    div {
      margin-top: 0;
      &.spacer {
        margin: 13px 0;
      }
      &:first-of-type {
          margin-top: 0;
      }
    }
    select, input, textarea {
      margin-top: 1px;
    }
    input, textarea {
      background-color: #fff;
      border: 2px solid #ddd;
      border-radius: 5px;
      color: $color-dark;
      box-shadow: none;
      padding: 10px 17px;
      font-size: 1em;
      width: 400px;
      &:focus {
        outline: none;
        border-color: $color-main;
        box-shadow: 0 0 20px rgba(0,0,0,0.07);
      }
    }
    textarea {
      max-width: 450px;
      min-width: 450px;
      min-height: 100px;
    }
    fieldset {
        border: none;
        margin-bottom: 30px;
        padding: 10px 40px;
        legend {
            display: none;
        }
    }
    button {
        font-size: .7em;
        padding: 10px 24px;
        border-radius: 5px;
        border: none;
        margin-top: 5px;
        background: $color-dark;
        color: $color-light;
        letter-spacing: 1px;
        font-weight: 600;
        cursor: pointer;
        transition: all 120ms ease-out;
        &.sub-action {
          color: $color-dark;
          border: 1px solid $color-dark;
          background: none;
          &:hover {
            border-color: tomato;
            color: tomato;
          }
        }
        &:hover {
            box-shadow: 0 0 30px rgba(0,0,0,0.1);
        }
        &:focus {
            outline: none;
            transform: scale(0.98);
        }
    }
    label {
        font-weight: 900;
        font-size: .5em;
        opacity: .3;
        letter-spacing: 1px;
        text-transform: uppercase;
        display: block;
        color: $color-dark;
        small {
            font-weight: 400;
            font-size: .8em;
        }
    }
    p {
      font-size: .8em;
      margin-top: -5px;
      opacity: .9;
      font-weight: 500;
      letter-spacing: 1px;
    }
    select {
        border: 2px solid #ddd;
        display: block;
        font-size: .8em;
        width: 200px;
        &:focus {
          outline: none;
          border-color: $color-main;
        }
    }
}

  