@import '../variables/dashboard';
@import '../variables/main';

form {
    position: relative;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0;
    max-width: 600px;
    label {
        font-weight: 900;
        font-size: .8em;
        letter-spacing: 1px;
        color: $form-label;
    }
    div {
        margin-top: 40px;
        &:first-of-type {
            margin-top: 0;
        }
    }
    .form-error {
        color: $form-error;
        font-weight: 400;
        font-size: .7em;
        opacity: 1;
    }
    label, input {
        display: block;
        position: relative;
    }
    input[type="submit"] {
        margin-top: 40px;
        padding: 5px 20px;
        width: auto;
        background: $form-submit-bg;
        color: $form-submit;
        font-size: 20px;
        box-shadow: 0 0 30px $form-field-shadow-focus;
        border: none;
        cursor: pointer;
        transition: $ui-transition;
        &:hover {
            transform: scale(1.03);
            box-shadow: 0 0 20px $form-field-shadow-focus;
        }
        &:focus {
            transform: scale(.98);
            box-shadow: 0 0 5px $form-field-shadow-focus;
        }
        &.delete {
            &:hover {
                background: $form-error;
                color: $body-bg;
            }
        }
    }
    select {
        display: block !important;
        font-weight: 600;
        background: $form-field-bg;
        color: $form-label;
        border: 2px solid $form-field-border;
        font-size: .7em;
        width: 200px;
        height: 30px;
        &:focus {
            outline: none;
            box-shadow: 0 0 30px $form-field-shadow-focus;
            border-color: $form-field-border-focus;
            transition: all 150ms ease-out;
        }
        &.error {
            border: 2px solid $form-error;
            color: $form-error;
        }
    }
    p {
        font-size: .8em;
        opacity: .2;
        line-height: 1.5em !important;
        font-weight: 500;
    }
    select, input {
        margin-top: 10px; 
    }
    input {
        height: 50px;
        margin-top: 10px;
        font-size: 1em;
        width: 100%;
        font-weight: 600;
        background: $form-field-bg;
        border: 2px solid $form-field-border;
        border-radius: 10px;
        box-sizing: border-box;
        padding: 0 10px;
        color: $form-field;
        transition: all 220ms ease-out;
        &.sub-submit {
            background: $form-sub-button;
            color: $form-sub-color;
            box-shadow: none;
            margin-top: 0 !important;
        }
        &:focus {
            outline: none;
            box-shadow: 0 0 30px $form-field-shadow-focus;
            border-color: $form-field-border-focus;
            transition: all 150ms ease-out;
        }
        &.error {
            border-color: tomato !important;
            color: tomato !important;
        }
    }
    .between {
        display: block;
        position: relative;
        margin: 10px 0;

    }
}