@import '../variables/main';
@import '../variables/dashboard';

div.list {
    width: 100%;
    height: auto;
    position: relative;
    color: $color-dark;
    .list-item {
        position: relative;
        width: 100%;
        height: 100px;
        overflow: hidden;
        display: flex;
        justify-content: left;
        align-items: center;
        background: rgba(255,255,255,0.3);
        margin: 20px 0;
        cursor: pointer;
        outline: 0px solid $color-main;
        transition: $ui-transition;
        .icon {
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin: 0 50px;
            pointer-events: none;
            svg {
                width: 42px;
                height: auto !important;
                opacity: 1 !important;
            }
            .vehicle-type {
                width: 28px;
                margin-right: 20px;
                opacity: .1 !important;
            }
        }
        .title {
            line-height: .9em;
            padding-top: 6px;
            small {
                opacity: .3;
                font-weight: 700;
                font-size: .6em;
            }
            pointer-events: none;
        }
        .side {
            position: absolute;
            right: 50px;
            font-size: .8em;
            pointer-events: none;
        }
        &:hover {
            .title {
                h3 {
                    text-decoration: underline;
                }
            }
            outline: 1px solid $color-main;
        }
    }
}