header {
  background: #080816;
  height: 65px;
}

header svg {
  height: 58% !important;
}

header #logoutBtn {
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
}

header #logoutBtn:hover {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  border-color: #fca500;
  color: #fca500;
}

.nav {
  position: fixed;
  top: 65px;
  bottom: 0;
  z-index: 10;
  background: #ececf8;
  width: 75px;
  overflow: hidden;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 120ms ease-out;
  transition: all 120ms ease-out;
}

.nav:hover,
.nav:focus-within {
  width: 240px;
  outline: none;
}

.nav:hover .item,
.nav:focus-within .item {
  outline: none;
}

.nav .current-vehicle {
  position: absolute;
  bottom: 0;
}

.nav .current-vehicle svg {
  opacity: 1 !important;
}

.nav .item {
  margin: 20px 20px;
  width: 300px;
  display: -webkit-box;
  display: flex;
  cursor: pointer;
  text-decoration: none;
}

.nav .item svg {
  width: 35px;
  opacity: 0.1;
  -webkit-transition: all 120ms ease-out;
  transition: all 120ms ease-out;
}

.nav .item svg.menu-icon {
  opacity: 0;
}

.nav .item #key {
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}

.nav .item span {
  line-height: 51px;
  font-size: 1em;
  font-weight: 700;
  margin: 0 20px;
  color: #080816;
  text-decoration: none;
  opacity: 0.2;
  -webkit-transition: all 120ms ease-out;
  transition: all 120ms ease-out;
}

.nav .item span.menu-txt {
  opacity: 0;
}

.nav .item.current svg {
  opacity: 1 !important;
}

.nav .item.current span {
  opacity: 1 !important;
}

.nav .item:hover svg,
.nav .item:focus svg {
  opacity: 1 !important;
}

.nav .item:hover span,
.nav .item:focus span {
  opacity: 1 !important;
}

.wrapper {
  margin: 170px auto;
}

