header {
  background: #080816;
  height: 65px;
}

header svg {
  height: 58% !important;
}

header #logoutBtn {
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
}

header #logoutBtn:hover {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  border-color: #fca500;
  color: #fca500;
}

.nav {
  position: fixed;
  top: 65px;
  bottom: 0;
  z-index: 10;
  background: #ececf8;
  width: 75px;
  overflow: hidden;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 120ms ease-out;
  transition: all 120ms ease-out;
}

.nav:hover,
.nav:focus-within {
  width: 240px;
  outline: none;
}

.nav:hover .item,
.nav:focus-within .item {
  outline: none;
}

.nav .current-vehicle {
  position: absolute;
  bottom: 0;
}

.nav .current-vehicle svg {
  opacity: 1 !important;
}

.nav .item {
  margin: 20px 20px;
  width: 300px;
  display: -webkit-box;
  display: flex;
  cursor: pointer;
  text-decoration: none;
}

.nav .item svg {
  width: 35px;
  opacity: 0.1;
  -webkit-transition: all 120ms ease-out;
  transition: all 120ms ease-out;
}

.nav .item svg.menu-icon {
  opacity: 0;
}

.nav .item #key {
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}

.nav .item span {
  line-height: 51px;
  font-size: 1em;
  font-weight: 700;
  margin: 0 20px;
  color: #080816;
  text-decoration: none;
  opacity: 0.2;
  -webkit-transition: all 120ms ease-out;
  transition: all 120ms ease-out;
}

.nav .item span.menu-txt {
  opacity: 0;
}

.nav .item.current svg {
  opacity: 1 !important;
}

.nav .item.current span {
  opacity: 1 !important;
}

.nav .item:hover svg,
.nav .item:focus svg {
  opacity: 1 !important;
}

.nav .item:hover span,
.nav .item:focus span {
  opacity: 1 !important;
}

.wrapper {
  margin: 170px auto;
}

.container {
  width: 65%;
  max-width: 900px;
}

.container p.short-txt {
  max-width: 600px;
  font-size: 0.9em;
  line-height: 1.5em;
  margin-bottom: 65px;
}

a.return-button {
  display: block;
  z-index: 10000;
  height: 30px;
  margin-bottom: -15px;
  color: #080816;
}

a.return-button span {
  display: inline-block;
  line-height: 30px;
  font-size: 10pt;
  font-weight: 900;
  color: #080816;
}

a.return-button svg {
  dipslay: inline-block;
  margin-top: 5px;
  height: 15px;
}

.side-box {
  position: fixed;
  top: 65px;
  width: 400px;
  min-width: 300px;
  max-width: 450px;
  right: 0;
  height: 0;
  overflow: hidden;
  z-index: 10;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.17);
  background: #ececf8;
}

.side-box #sideCloser {
  position: absolute;
  width: 15px;
  height: 15px;
  display: block;
  right: 0;
  top: 0;
  padding: 30px;
  opacity: 0.1;
  cursor: pointer;
  -webkit-transition: all 120ms ease-out;
  transition: all 120ms ease-out;
}

.side-box #sideCloser:hover {
  opacity: 1;
}

.side-box .plate {
  margin-top: 10px;
  display: block;
  border-radius: 2px;
  font-size: 0.8em;
  font-weight: 900;
  padding: 3px 17px;
  background: #080816;
  color: #ececf8;
}

.side-box svg.menu-icon {
  opacity: 1 !important;
  width: 75px;
  margin-top: 28px;
}

.side-box .actions {
  position: absolute;
  bottom: 20px;
  margin-left: -10px;
}

.side-box .actions a {
  padding: 5px;
  color: #080816;
  opacity: 0.4;
  font-weight: 700;
  font-size: 0.8em;
  -webkit-transition: all 120ms ease-out;
  transition: all 120ms ease-out;
  margin: 0 15px;
}

.side-box .actions a:hover {
  opacity: 1;
}

