.toggle-scope {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  right: 0;
}

.load-in {
  opacity: 0;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

canvas {
  position: relative;
}

