.toggle-scope {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  right: 0;
  z-index: 50;
}

.load-in {
  opacity: 0;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.chart-container {
  position: relative;
  margin-bottom: 100px;
  z-index: 30;
}

canvas {
  position: relative;
  margin: 0 auto;
  z-index: 0;
  pointer-events: all;
  -webkit-transform: translateY(80px);
          transform: translateY(80px);
}

#noExpenses {
  display: none;
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #ccc;
  font-size: 0.8em;
}

.scope-data {
  position: absolute;
  line-height: 1.1em;
  letter-spacing: 1px;
  text-align: left;
  margin-top: 15px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.scope-data .main {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 2px 40px 10px 10px;
}

.scope-data .smaller {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.scope-data .smaller h2 {
  font-size: 1.2em;
  opacity: 0.8;
}

.scope-data h2 {
  font-size: 1.5em;
  opacity: 0.8;
}

.scope-data small {
  font-size: 0.5em;
  opacity: 0.2;
  font-weight: 900;
}

.scope-data small.currency {
  font-size: 0.8em;
}

.expenses-list {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: wrap;
  -webkit-box-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 900px;
  height: auto;
  line-height: 1.3em;
  font-size: 13pt;
  margin-top: 20px;
  text-align: center;
}

.expenses-list .item {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
  width: calc(33% - 20px);
  height: calc(150px - 20px);
  min-width: 230px;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 23px;
  margin: 10px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
  cursor: pointer;
  -webkit-transition: all 120ms ease-out;
  transition: all 120ms ease-out;
}

.expenses-list .item:hover {
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.expenses-list .item:hover .icon svg {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.expenses-list .item:hover .amount {
  width: 110px;
}

.expenses-list .icon svg {
  -webkit-transition: all 120ms ease-out;
  transition: all 120ms ease-out;
  width: 10px;
  margin-bottom: 3px;
}

.expenses-list .title h3 {
  margin-top: 3px;
  text-transform: uppercase;
  font-size: 0.95em;
  letter-spacing: 1px;
  line-height: 1.3em;
}

.expenses-list .under {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.expenses-list .amount {
  -webkit-transition: all 120ms ease-out;
  transition: all 120ms ease-out;
  display: block;
  background: rgba(0, 0, 0, 0.04);
  width: 100px;
  height: 30px;
  letter-spacing: 1px;
  line-height: 30px;
  font-size: 0.9em;
  color: #080816;
  font-weight: bolder;
}

.expenses-list .date {
  font-size: 0.6em;
  font-weight: bolder;
  opacity: 0.2;
  letter-spacing: 1px;
}

@media screen and (max-width: 1500px) {
  .expenses-list .item {
    width: calc(50% - 20px);
  }
}

