@charset "UTF-8";

form.basic-form {
  color: #080816;
  font-size: 1.2em !important;
  margin: 0;
}

form.basic-form div {
  margin-top: 0;
}

form.basic-form div.spacer {
  margin: 10px 0;
}

form.basic-form div.option {
  margin-top: 0 !important;
}

form.basic-form div.selected {
  margin-top: 5px;
}

form.basic-form div:first-of-type {
  margin-top: 0;
}

form.basic-form div.splitted {
  display: block;
}

form.basic-form div.splitted div {
  float: left;
  margin-top: 0;
}

form.basic-form div.splitted div:nth-last-of-type(1) {
  float: right;
}

form.basic-form div.splitted input {
  width: 200px;
}

form.basic-form div.splitted .clearfix {
  overflow: auto;
}

form.basic-form div.splitted .clearfix::after {
  content: "";
  clear: both;
  display: table;
}

form.basic-form input,
form.basic-form textarea {
  background-color: #fff;
  border-color: #ddd;
  border-radius: 5px;
  color: #080816;
  box-shadow: none;
  width: 450px;
  padding: 6px 8px;
  height: 40px;
  font-size: 1.1em;
  font-weight: 600;
}

form.basic-form input:focus,
form.basic-form textarea:focus {
  outline: none;
  border-color: #fca500;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.07);
}

form.basic-form input[type=checkbox] {
  width: auto !important;
  height: auto !important;
}

form.basic-form p {
  font-size: 0.8em;
}

form.basic-form textarea {
  margin-top: 3px;
  max-width: 450px;
  min-width: 450px;
  min-height: 100px;
}

form.basic-form fieldset {
  border: none;
  margin-bottom: 30px;
  padding: 10px 40px;
}

form.basic-form fieldset legend {
  display: none;
}

form.basic-form button {
  font-size: 0.8em;
  padding: 10px 24px;
  border-radius: 5px;
  border: none;
  margin-top: 5px;
  background: #080816;
  color: #ececf8;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: all 120ms ease-out;
  transition: all 120ms ease-out;
}

form.basic-form button:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

form.basic-form button:focus {
  outline: none;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

form.basic-form label {
  font-weight: 900;
  font-size: 1em;
  display: block;
  color: #080816;
}

form.basic-form label small {
  font-weight: 400;
  font-size: 0.8em;
}

form.basic-form select {
  display: block;
  margin-top: 6px;
  font-size: 0.8em;
}

form.basic-form select:focus {
  outline: none;
  border-color: #fca500;
}

