div.list {
  width: 100%;
  height: auto;
  position: relative;
  color: #080816;
}

div.list .list-item {
  position: relative;
  width: 100%;
  height: 100px;
  overflow: hidden;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: left;
          justify-content: left;
  -webkit-box-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.3);
  margin: 20px 0;
  cursor: pointer;
  outline: 0px solid #fca500;
  -webkit-transition: all 120ms ease-out;
  transition: all 120ms ease-out;
}

div.list .list-item .icon {
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  margin: 0 50px;
  pointer-events: none;
}

div.list .list-item .icon svg {
  width: 42px;
  height: auto !important;
  opacity: 1 !important;
}

div.list .list-item .icon .vehicle-type {
  width: 28px;
  margin-right: 20px;
  opacity: 0.1 !important;
}

div.list .list-item .title {
  line-height: 0.9em;
  padding-top: 6px;
  pointer-events: none;
}

div.list .list-item .title small {
  opacity: 0.3;
  font-weight: 700;
  font-size: 0.6em;
}

div.list .list-item .side {
  position: absolute;
  right: 50px;
  font-size: 0.8em;
  pointer-events: none;
}

div.list .list-item:hover {
  outline: 1px solid #fca500;
}

div.list .list-item:hover .title h3 {
  text-decoration: underline;
}

