form {
  position: relative;
  background: #fff;
  margin: 100px auto;
  padding: 20px 50px;
  width: 75%;
  max-width: 700px;
}

form .form-error {
  color: tomato;
  opacity: 1;
}

form input.error {
  border-bottom-color: tomato !important;
  color: tomato !important;
}

form select,
form input[type=submit] {
  display: block !important;
  font-weight: 700;
  background: none;
  border: none;
  border-bottom: 2px solid #222;
}

form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 0.8em;
  width: 130px;
  border-radius: none !important;
  margin-top: 10px;
}

form select:focus {
  outline: none;
}

form input[type=submit] {
  padding: 5px 50px;
  width: auto;
  border-radius: 3px !important;
  background: #222;
  color: #eee;
  font-size: 20px;
  margin-top: 50px;
}

form div.inline {
  display: inline !important;
  float: right;
  margin-left: 20px;
  clear: none !important;
}

form div {
  display: block;
  clear: both;
  margin-top: 10px;
}

form label,
form input {
  display: block;
}

form label {
  font-weight: 700;
  margin-top: 50px;
}

form p {
  font-size: 0.8em;
  opacity: 0.2;
  line-height: 25px;
  font-weight: 700;
}

form input {
  height: 50px;
  margin-top: 2px;
  font-size: 1.8em;
  width: 100%;
  border: none;
  font-weight: bolder;
  border-bottom: 2px solid #222;
  -webkit-transition: all 220ms ease-out;
  transition: all 220ms ease-out;
}

form input:focus {
  outline: none;
  box-shadow: none;
  -webkit-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
  border-bottom: 4px solid #222;
}

form #clear {
  position: absolute;
  top: -40px;
  right: 0;
  font-size: 0.8em;
  opacity: 0.3;
  -webkit-transition: all 220ms ease-out;
  transition: all 220ms ease-out;
}

form #clear:hover {
  opacity: 1;
}

