@import '../variables/main';
@import '../variables/dashboard';

.toggle-scope {
    width: fit-content;
    position: absolute;
    right: 0;
    z-index: 50;
}
.load-in{
    opacity: 0;
    transform: scale(1.1);
}

.chart-container {
    position: relative;
    margin-bottom: 100px;
    z-index: 30;
}
canvas {
    position: relative;
    margin: 0 auto;
    z-index: 0;
    pointer-events: all;
    
    transform: translateY(80px);
}

#noExpenses {
    display: none;
    position: absolute;
    width: fit-content;
    color: #ccc;
    font-size: .8em;
}

.scope-data {
    position: absolute;
    line-height: 1.1em;
    letter-spacing: 1px;
    text-align: left;
    margin-top: 15px;
    transition: all .3s ease-out;
    .main {
        box-shadow: 0 0 20px rgba(0,0,0,0.1);
        padding: 2px 40px 10px 10px;
    }
    .smaller {
        transform: scale(.9);
        h2 {
            font-size: 1.2em;
            opacity: .8;
        }
    }
    h2 {
        font-size: 1.5em;
        opacity: .8;
    }
    small {
        font-size: .5em;
        opacity: .2;
        font-weight: 900;
    }
    small.currency {
        font-size: .8em;
    }
}

.expenses-list {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width:100%;
    max-width: 900px;
    height: auto;
    line-height: 1.3em;
    font-size: 13pt;
    margin-top: 20px;
    text-align: center;
    .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: calc(33% - 20px);
        height: calc(150px - 20px);
        min-width: 230px;
        border-radius: 3px;
        box-sizing: border-box;
        padding: 23px;
        margin: 10px;
        background: rgba(255,255,255,0.3);
        box-shadow: 10px 10px 30px rgba(0,0,0,0.06);
        cursor: pointer;
        transition: $ui-transition;
        &:hover {
            box-shadow: 3px 3px 20px rgba(0,0,0,0.1);
            transform: scale(1.1);
            .icon {
                svg {
                    transform: scale(1.2);
                }
            }
            .amount {
                width: 110px;
            }
        }
    }
    .icon {
        svg {
            transition: $ui-transition;
            width: 10px;
            margin-bottom: 3px;
        }
    }
    .title {
        h3 {
            margin-top: 3px;
            text-transform: uppercase;
            font-size: .95em;
            letter-spacing: 1px;
            line-height: 1.3em;
        }
    }
    .under {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .amount {
        transition: $ui-transition;
        display: block;
        background: rgba(0,0,0,0.04);
        width: 100px;
        height: 30px;
        letter-spacing: 1px;
        line-height: 30px;
        font-size: .9em;
        color: $color-dark;
        font-weight: bolder;
    }
    .date {
        font-size: .6em;
        font-weight: bolder;
        opacity: .2;
        letter-spacing: 1px;
    }
}

@media screen and (max-width: 1500px) {
    .expenses-list {
        .item {
            width: calc(50% - 20px);
        }
    }
}