.dependency {
    height: auto;
    width: 400px;
    background: #fff;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 20px 50px;
    margin: 12px 0;
    h3 {

        font-size: .95em;
    }
    p {
        font-size: .8em;
        line-height: 1.3em;
    }
}