// Top Header
$header-top-bg: #fff;
$logout-color: #aaa;
$logout-hover-color: #222;

// Main Header
$header-mid-bg: #222;
$icon-color: #555;
$icon-hover-color: #ccc;
$icon-current-color: #ccc;
$tooltip-color: #222;
$tooltip-transition: all 200ms ease-out;

// Sub Header
$header-sub-bg: rgba(238,238,238, 0.4);
$header-sub-border: 1px solid #ddd;
$header-sub-color: #aaa;
$header-sub-hover-color: #222;

// Main Container
$main-bg: none;
$main-color: #222;
$main-fade-color: #ccc;

// Table Component
$table-border:none;
$table-head-color: #ddd;
$table-icon-color: #fff;
$table-icon-bg: #222;
$table-title-hover: #222;

// Reminder Container
$reminder-bg: #fff;